.career-banner{
  height: 50vh;
  background-size: cover;
  background-position-y: 40%;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.title-box{
  width: 300px;
  text-align: center;
  color: white;
  backdrop-filter: blur(3px);
  text-shadow: 1px 1px 7px rgba(0,0,0,0.7);
  background-color: rgba(0,0,0,0.1);
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 5px;

  h1{
    font-size: 60px;
  }
}

.page-section{
  margin: 30px 150px;

}

.section-header{
  font-size: 24px;
}

.info-box{
  display: flex;
  flex-wrap: wrap;
  background-color: #C8F0F8;
  padding: 15px;
  color: #003066;
}

.icon-with-info{
  display: flex;
  flex-direction: row;
  margin: 20px 30px;
  align-items: center;
  width: 255px;
}

.icon-market{
  font-size: 35px;
}

.small-icon-market{
  font-size: 25px;
}

.info{
  margin-left: 20px;

  h4{
    font-size: 18px;
  }
  p{
    font-size: 15px;
    margin: 0px;
  }
}

.readings-carousel{
  height: 50vh;
}

.readings-carousel-element{
  height: 100%;
}
.wiki-card{
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/07/Wikipedia_logo_%28svg%29.svg');
  //object-fit: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.wiki-card:hover{
  text-decoration: none;
}

.card-further-reading{
  margin: 0 100px;
  overflow: hidden;
  display: flex;
  align-items: center;



  .book-details{
    text-align: left;
    margin: 20px;
    text-decoration: none;
    color: black;
  }
  .book-details:hover{
    text-decoration: none;
  }
}





