// Specific CSS for your home-page
body {
  background-color:white;
}

.flexbox-pictures{
  display:flex;
  justify-content:space-around;
  position:relative;
}

.picture{
  background-size: cover;
  background-position: center;
  text-align:center;
  height: 160px;
  width: 160px;
  margin:0 auto;
}

// .picture-humans {
//   background-image: asset-url("humans.png");
//   height: 400px;
//   width: 500px;
//   margin: 40px;
//   background-size: cover;
//   background-position: center;
//   padding: 100px;
//   padding-left: 100px;
// }

.picture-icon {
  background-image: asset-url("icon_first.png");
}

.picture-icon-second {
  background-image: asset-url("icon_second.png");
}

.picture-icon-third {
  background-image: asset-url("icon_third.png");
}

.page-home .container {
  display: flex;
  align-items: center;
  position: absolute;
}

.page-home {
  position: relative;
  height: 600px;
}

.page-home .background {
  width: 100%;
  height: 100%;
  background: rgb(0,48,102);
background: linear-gradient(90deg, rgba(0,48,102,1) 14%, rgba(18,119,197,1) 51%, rgba(156,236,252,1) 100%);
}

.page-home .foreground {
  // background-image: asset-url("bussy.png");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-home .foreground .title {
  h1 {
  font-size:100px;
  color:white;
  text-align:center;
  text-shadow: 20px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding:20px;
  padding-right:350px;
  }

  h2 {
  font-size: 40px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  height: 1.5em;
  margin-left: 23%;
  }
}

.button-div{
  display: flex;
  justify-content: center;
  padding-right: 350px;

}

.card-icons{
  background-color:white;
  display:flex;
  flex-direction:column;
  border-radius: 10px;
  box-shadow: 2px 20px 30px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  padding: 30px;
  width: 300px;
  margin: -60px;
  top: 0;
  left: 0;
  z-index: 10;
  color: #003066;

}

.header-landing {
  display: flex;
  flex-direction: column;

}

// .card-icons:hover {
//   transform: translate3D(0,-1px,0) scale(1.03); /* move up slightly and zoom in */
//   box-shadow: 2px 20px 30px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
//   transition: all .4s ease; /* zoom in */
//   cursor: pointer;
// }

.flexbox-icon-cards{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    margin: 0 auto;
}

.flexbox-testimonials{
  display:flex;
  margin: 120px;
  margin-left: 220px;
  align-items:center;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  width: 70%;
  // box-shadow: 2px 20px 30px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  // transition: all .4s ease; /* zoom in */
  // transform: translate3D(0,-1px,0) scale(1.03); /* move up slightly and zoom in */
   &:hover {
      text-decoration: none;
    }
  h4 {
    color:grey;
    padding-bottom: 10px;
  }
}

.card-testimonial {
  margin: 25px;
  width: 100%;
}

.middle-avatar {
  display: flex;
  flex-direction: row-reverse;
}

.middle-user-name {
  display: flex;
  flex-direction: row-reverse;
}


.top-bottom-avatar {
  display: flex;
  flex-direction: row;
}

.text-avatar {
  color: grey;
  border-radius: 5px;
  background-color:  rgba(151, 232, 250, 0.3);
  position: relative;
}

.text-avatar p {
  padding: 20px;
  width: 500px;
  font-size: 25px;
}

.text-avatar h4{
  padding-left: 20px;
}

.middle-text-avatar {
  color: grey;
  width: 500px;
  background-color: rgba(27, 99, 169, 0.2);
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 20px;
  position: relative;
}

.avatar-img {
  padding: 5px;
}

.middle-text-avatar p {
  direction: ltr;
  font-size: 25px;
  padding-top: 20px;
}

.middle-text-avatar h4 {
  text-align: end;
  padding-right: 20px;
}

.quotes {
  width: 100%;
  position: absolute;
  top: -25px;
  left: 6px;
}

.ilustration img {
  display: flex;
  flex-direction: row;
  width: 300px;
  margin-left: 20px;
}

.logo-img {
  margin-left: 15%;
}

#home-animation {
  margin-top: -55px;
}
