// Specific CSS for your home-page
body {
  background-color: white;
}

.banner {
  background-image: asset-url("jump.jpg");
  background-size: cover;
  background-position: center;
  font-size: 100px;
  height: 800px;
  align-items: center;
  text-align: left;
  object-fit: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
  font-size:80px;
  color:#9CECFC;
  font-family: dosis;
  text-align:center;
  text-shadow: 20px;
  padding: 60px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  h2 {
  font-size: 40px;
  color: white;
  font-family: dosis;
  text-align:center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.card {
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
