.guide-header {
  width: 200px;
  margin: 0 auto;
  color: #393e46;
  margin-top: 30px;
}

.todo {
  margin: 50px 50px;
  width: 800px;
  display: inline-block;
}

.todo-card {
  display: flex;
  flex-direction: column;
  margin: 20px 70px 20px 70px;
  color: #393e46;

    h5 {
      font-weight: bold;
    }

    li {
      font-weight: 200;
    }
}

.reading-list, .edu-list, .online-list {
 display: flex;
 flex-direction: row;
 margin-left: 40px;
 margin: 30px 30px;
 align-items: center;
}

.online-list {
  align-items: right;
}

.list {
  list-style-type: none;

  .list-item {
    display: flex;
  }

  .guide-description {
    font-size: 12px;
  }
}

.hide {
  display: none;
}

.todo-hover:hover .hide {
  display: inline-block;
}

.dlt-btn-div {
  display: flex;
  flex-direction: row;
}

.dlt-btn {
  color: red;
}
