<h2>suggestions</h2>
<div class="grid-container">
  <div class="suggestion-card">
    <% @careers.each do |threeCard|  %>
      <%= link_to career_path(threeCard), class: "card-pack" do  %>
        <div class="card-back-img" style="background-image: url('<%= cl_image_path threeCard.photo.key, height: 200, width: 400 , crop: :fill %>')">
        </div>
        <div class="card-text">
          <h3><%= threeCard.title  %></h3>
          <div class="card-symbols">
            estrellitas
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>




