<h2>possible suggestions</h2>
<div class="suggestion-carousel">
  <div id="new-suggestion-carousel-controls" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card-career-suggestion">
        <div class="card-suggestion" >
         <img class="card-img-top" src="" alt="Card image cap">
            <h3>Job 1</h3>
             <p>Welcome to this job</p>
        </div>
        <div class="card-suggestion">
          <img class="card-img-top" src="" alt="Card image cap">
          <h3>Job 2</h3>
          <p>Welcome to this job</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card-career-suggestion">
        <div class="card-suggestion">
          <img class="card-img-top" src="" alt="Card image cap">
          <h3>Job 3</h3>
          <p>Welcome to this job</p>
        </div>
        <div class="card-suggestion">
          <img class="card-img-top" src="" alt="Card image cap">
          <h3>Job 4</h3>
          <p>Welcome to this job</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card-career-suggestion">
        <div class="card-suggestion">
          <img class="card-img-top" src="" alt="Card image cap">
          <h3>Job 5</h3>
          <p>Welcome to this job</p>
        </div>
        <div class="card-suggestion">
          <img class="card-img-top" src="" alt="Card image cap">
          <h3>Job 6</h3>
          <p>Welcome to this job</p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev left" href="#new-suggestion-carousel-controls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next right" href="#new-suggestion-carousel-controls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

</div>
