<div class="container">
  <div class="row">
    <div class="col align-self-center">
<<<<<<< HEAD
=======
      <div class="bottom-carousel">
        <%#= render "liked_suggestions_carousel" %>
      </div>
>>>>>>> 5fcbb5cea742900f0b738e06cbd679a342a9b3a9
      <div class="top-carousel">
        <%= render "new_suggestions_carousel" %>
      </div>
    </div>
  </div>
</div>

