<h1>suggestions</h1>
<p>lorem ipsum</p>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= render "new_suggestions_carousel" %>
  </div>
</div>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= render "liked_suggestions_carousel" %>
  </div>
</div>
