<div class="container">
  <div class="row">
    <div class="col align-self-center">
      <div class="bottom-carousel">
        <%#= render "liked_suggestions_carousel" %>
      </div>
      <div class="top-carousel">
        <%= render "new_suggestions_grid" %>
      </div>
    </div>
  </div>
</div>

