<div class="container">
  <div class="row">
    <div class="col align-self-center">
       <div class="header">
        <h1>suggestions</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, vel ratione, consequatur neque sapiente incidunt esse harum rerum excepturi similique possimus dolor cum aliquid repellat. Ut delectus, blanditiis consequuntur esse.</p>
      </div>
      <div class="top-carousel">
        <%= render "new_suggestions_carousel" %>
      </div>
      <div class="bottom-carousel">
        <%= render "liked_suggestions_carousel" %>
      </div>
    </div>
  </div>
</div>

