<div class="header col-md-8 offset-md-2" style="padding: 0px;">
  <h1>suggestions</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, vel ratione, consequatur neque sapiente incidunt esse harum rerum excepturi similique possimus dolor cum aliquid repellat. Ut delectus, blanditiis consequuntur esse.</p>
</div>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <%= render "new_suggestions_carousel" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <%= render "liked_suggestions_carousel" %>
    </div>
  </div>
