.test-container {
  width: 600px;
  margin: 0 auto;
  text-align: center
}

.inlineRadio1 {
  transform: scale(3);
  color: #003066;
}

.inlineRadio2 {
  transform: scale(2);
  color: #003066;
}

.inlineRadio3 {
  transform: scale(1);
  color: #003066;
}

.form-check {
  margin: 20px;
  }

.test {
  margin-top: 25px;
}
