.results-background{
  width: 100%;
  height: 100vh;
  background-image: asset-url("results-jump.jpg");
  background-size: cover;
  background-position: left;
}

#results-title{
  color: #003066;
  padding-top: 50px;
  padding-left: 50px;

  h1{
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  }
  p{
    font-size: 18px;
  }
}
.test-results-container{
  display: flex;
  align-items: flex-end;
  margin: 0px 50px;
  justify-content: space-between;
  max-width: 800px;
}

#result-text{
  position: absolute;
  bottom: 70px;
  right: 100px;
  font-size: 20px;
  max-width: 600px;
}
.button-flex{
  text-align: right;
   //justify-content: right;
  margin-top: 10px;
}

.trait-flexbox{
  display: flex;
  flex-direction: row;
  margin: 10px 30px;
  align-items: center;

}

.test-results{
  display: flex;
  flex-direction: column;
  margin: 0;

}

.trait-icon{
  font-size: 35px;
}

.trait-text{
  margin-left: 20px;

  h4{
    font-size: 18px;
    font-weight: 700;
  }

  p{
    font-size: 15px;
    margin: 0px;
  }
}




