<footer class="footer">
  <a href="#"><i class="fab fa-twitter-square"></i></a>
  <a href="#"><i class="fab fa-facebook-square"></i></a>
  <a href="#"><i class="fab fa-instagram-square"></i></a>
  <a href="#"><i class="far fa-envelope"></i></a>
</footer>
