<!-- <h1>Please answer these questions</h1>  -->
<%#= form_with url: answers_path, scope: :questions do |f| %>
  <%# @questions.each do |question| %>
    <%#= f.label question.question %>
    <%#= f.check_box question.id %>
  <%# end %>
  <%#= submit_tag "Submit" %>
<%# end %>

<div class="test-card-container">
  <div class="test-card">
    <img src="images/undraw_season_change_f99v.svg" alt="" id="test-card-img" height="87" width="100">
    <p>take your time</p>
  </div>
  <div class="test-card">
    <img src="/images/undraw_check_boxes_m3d0.svg" alt="" id="test-card-img" height="87" width="100">
    <p>answer truthfully</p>
  </div>
  <div class="test-card">
    <img src="undraw_cooking_lyxy.svg" alt="" id="test-card-img" height="87" width="100">
    <p>find a job suited for you</p>
  </div>
</div>

<div class="test-container">
  <%= form_with url: answers_path, scope: :questions, class: "test" do |f| %>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <%= render "questions_carousel", questions: @questions %>
        <div class="test-buttons">
          <button type="button" id="btn-prev" class="btn"><i class="fas fa-angle-left"></i></button>
          <%#= link_to "submit", answers_results_path, class: "questions-submit btn btn-secondary"  %>
          <%= submit_tag "Submit", class: "questions-submit btn btn-secondary"  %>
          <button type="button" id="btn-next" class="btn"><i class="fas fa-angle-right"></i></button>
        </div>
      </div>
    </div>
  <% end %>

  <!--

  <form action="" class="test">
    <div class="question2">Are you an outdoorsy person?</div>
    <div class="form-check form-check-inline">
      <input class="inlineRadio1 form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
      <label class="form-check-label" for="inlineRadio1"></label>
    </div>
    <div class="form-check form-check-inline">
      <input class="inlineRadio2 form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
      <label class="form-check-label" for="inlineRadio2"></label>
    </div>
    <div class="form-check form-check-inline">
      <input class="inlineRadio3 form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
      <label class="form-check-label" for="inlineRadio3"></label>
    </div>
    <div class="form-check form-check-inline">
      <input class="inlineRadio3 form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
      <label class="form-check-label" for="inlineRadio1"></label>
    </div>
    <div class="form-check form-check-inline">
      <input class="inlineRadio2 form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5">
      <label class="form-check-label" for="inlineRadio2"></label>
    </div>
    <div class="form-check form-check-inline">
      <input class="inlineRadio1 form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option6">
      <label class="form-check-label" for="inlineRadio3"></label>
    </div>
    <div class="test-buttons">
      <button type="button" class="btn btn-primary">back</button>
      <button type="submit" class="btn btn-primary">submit</button>
      <button type="button" class="btn btn-primary">forward</button>
    </div>
  </form>
  <form action="" class="test">
    <div class="question3">Do you enjoy spying on other people?</div>
    <div class="inlineRadio1 form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
      <label class="form-check-label" for="inlineRadio1"></label>
    </div>
    <div class="form-check form-check-inline">
      <input class="inlineRadio2 form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
      <label class="form-check-label" for="inlineRadio2"></label>
    </div>
    <div class="form-check form-check-inline">
      <input class="inlineRadio3 form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
      <label class="form-check-label" for="inlineRadio3"></label>
    </div>
    <div class="form-check form-check-inline">
      <input class="inlineRadio3 form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
      <label class="form-check-label" for="inlineRadio1"></label>
    </div>
    <div class="form-check form-check-inline">
      <input class="inlineRadio2 form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5">
      <label class="form-check-label" for="inlineRadio2"></label>
    </div>
    <div class="form-check form-check-inline">
      <input class="inlineRadio1 form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option6">
      <label class="form-check-label" for="inlineRadio3"></label>
    </div>
    <div class="test-buttons">
      <button type="button" class="btn btn-primary">back</button>
      <button type="submit" class="btn btn-primary">submit</button>
      <button type="button" class="btn btn-primary">forward</button>
    </div>
  </form>
  <form action="" class="test">
    <div class="question4">Are you interested in other countries secrets?</div>
    <div class="form-check form-check-inline">
      <input class="inlineRadio1 form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
      <label class="form-check-label" for="inlineRadio1"></label>
    </div>
    <div class="form-check form-check-inline">
      <input class="inlineRadio2 form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
      <label class="form-check-label" for="inlineRadio2"></label>
    </div>
    <div class="form-check form-check-inline">
      <input class="inlineRadio3 form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
      <label class="form-check-label" for="inlineRadio3"></label>
    </div>
    <div class="form-check form-check-inline">
      <input class="inlineRadio3 form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
      <label class="form-check-label" for="inlineRadio1"></label>
    </div>
    <div class="form-check form-check-inline">
      <input class="inlineRadio2 form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5">
      <label class="form-check-label" for="inlineRadio2"></label>
    </div>
    <div class=" form-check form-check-inline">
      <input class="inlineRadio1 form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option6">
      <label class="form-check-label" for="inlineRadio3"></label>
    </div>
    <div class="test-buttons">
      <button type="button" class="btn btn-primary">back</button>
      <button type="submit" class="btn btn-primary">submit</button>
      <button type="button" class="btn btn-primary">forward</button>
    </div>
  </form>
   -->
</div>

