<div class="test-card-container">
  <div class="test-card">
    <img src="images/undraw_season_change_f99v.svg" alt="" id="test-card-img" height="87" width="100">
    <p>take your time</p>
  </div>
  <div class="test-card">
    <img src="/images/undraw_check_boxes_m3d0.svg" alt="" id="test-card-img" height="87" width="100">
    <p>answer truthfully</p>
  </div>
  <div class="test-card">
    <img src="undraw_cooking_lyxy.svg" alt="" id="test-card-img" height="87" width="100">
    <p>find a job suited for you</p>
  </div>
</div>
<div class="test-container">
  <%= form_with url: answers_path, scope: :questions, local: true, class: "test" do |f| %>
    <%= render "questions_carousel", questions: @questions %>
      <div class="test-buttons">
        <button type="button" id="btn-prev" class="btn"><i class="fas fa-angle-left"></i></button>
        <%= submit_tag "Submit", class: "questions-submit btn btn-secondary"  %>
        <button type="button" id="btn-next" class="btn"><i class="fas fa-angle-right"></i></button>
      </div>
  <% end %>
</div>

