<% content_for :navbar do %>
     <div class="empty"></div>
<% end %>

<div class="background">
  <div id="results-title">
    <h1>Your future starts now!</h1>
  </div>
  <div class="blurred-background" id="result-text">
    <p>Your just made the first steps towards your new career. We analized your answers and came up with some career suggestions.</p>
    <div class="align-right">
      <%= link_to "suggested careers", "/careers/suggestions", class: "secondary-button suggestions-button" %>
    </div>
  </div>

</div>

