<% content_for :navbar do %>
     <div class="empty"></div>
<% end %>

<div class="background">
  <div id="results-title">
    <h1>Your future starts now!</h1>
  </div>
  <div class="blurred-background" id="result-text">
    <p class="m-0">Your just made the first steps towards your new career.</p>
    <p class="m-0">We analized your answers and came up with some career suggestions.</p>
    <div class="button-flex">
      <%= link_to "cancel", "/", class: "transparent-button" %>
      <%= link_to "suggested careers", "/careers/suggestions", class: "dark-button suggestions-button" %>
    </div>
  </div>

</div>

