<% if request.referer == "http://localhost:3000/users/sign_in" && !current_user.nil? %>
  <div class="sweetalert"></div>
<% end %>

<% content_for :navbar do %>
  <div class="empty"></div>
<% end %>

<div class="page-home">
  <div class="background">
    <div class=flexbox-pictures>
      <div class="picture picture-jump"></div>
      <div class="picture picture-fall"></div>
      <div class="picture picture-overlay"></div>
    </div>
    <div class="flexbox-pictures">
      <div class="picture picture-search"></div>
      <div class="picture picture-color"></div>
      <div class="picture picture-pair-jump"></div>
    </div>
  </div>
  <div class="foreground">
    <div class="title">
      <h1>enchoosiast</h1>
      <h2>find your passion, start your career</h2>
    </div>
    <div class="button-div">
      <%= link_to "Sign in", "#", class: "dark-button" %>
      <%= link_to "Create an account", "#", class: "light-button" %>
    </div>
  </div>
</div>

