<% if request.referer == "http://localhost:3000/users/sign_in" && !current_user.nil? %>
  <div class="sweetalert"></div>
<% end %>

  <% content_for :navbar do %>
     <div class="empty"></div>
  <% end %>

  <div class="banner">
    <div class="container">
      <div class="blurred-background" style="margin:40px;">
        <h1>enchoosiast</h1>
        <h2>find your passion, start your career</h2>
        <%= link_to "Sign in", "#", class: "transparent-button" %>
        <%= link_to "Create an account", "#", class: "light-button" %>
        <%= link_to "Another button", "#", class: "dark-button" %>
      </div>
</div>



