<% if request.referer == "http://localhost:3000/users/sign_in" && !current_user.nil? %>
  <div class="sweetalert"></div>
<% end %>

<% content_for :navbar do %>
  <div class="empty"></div>
<% end %>

<div class="page-home">
  <div class="background">
<!--   <div class=flexbox-pictures>
      <div class="picture-illustration"></div>
  </div> -->
    <div class="foreground">
    <div class="title">
      <h1 class="animate__fadeInUp">enchoosiast</h1>
      <h2>find your passion, start your career</h2>
    </div>
    <div class="button-div">
      <%= link_to "More information", "/answers/new", class: "dark-button" %>
      <%= link_to "Take the test", "/answers/new", class: "light-button" %>
    </div>
  </div>
</div>

<div class="flexbox-icon-cards">
  <div class="card-suggestion">
    <div class="picture picture-icon"></div>
    <h4>1. take the personality test</h4>
  </div>
  <div class="card-suggestion">
    <div class="picture picture-icon-second"></div>
    <h4>2. get inspired by careers</h4>
    </div>
  <div class="card-suggestion">
    <div class="picture picture-icon-third"></div>
    <h4>3. find passion & guidance</h4>
  </div>
</div>

<div class= flexbox-testimonials>
  <div class="card-testimonial">
    <div class="quotes">
      <img src="../assets/images/quote.png" alt="">
    </div>
    <div class="top-bottom-avatar">
      <div class="avatar-img">
      <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm"/>
      </div>
      <div class="text-avatar">
      <p>enchoosiast helped me finding my dream career!
        khfbvjhbkjsbdhksj fbskjzf bdvkjsv bfkjs lhfa badew khfbvj hbkjsb dhksj
      </p>
      <h4> - Mark G.</h4>
      </div>
      <div class="ilustration">
        <img src="https://cdn.dribbble.com/users/1355613/screenshots/6681350/zzpstart-01_4x.png?compress=1&resize=800x600"/>
      </div>
    </div>
  </div>
  <div class="card-testimonial">
    <div class="middle-avatar">
      <div class="avatar-img">
      <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/sarahlafer"/>
      </div>
      <div class="middle-text-avatar">
      <p>the personality test is simply awesome. khfbvj hbkjsb dhksj
        fbskjzf bdvkjsv bfkjs lhfabadew leDVSl geafdg ileal iegbi abvld Srebvls
      </p>
      <h4> Anna R. - </h4>
      </div>
      <div class="ilustration">
        <img src="https://cdn.dribbble.com/users/1355613/screenshots/7247873/media/4ac8a75176f7d0b7eed141b17e56142b.jpg"/>
      </div>
    </div>
    <div class="middle-user-name">
    </div>
  </div>
  <div class="card-testimonial">
    <div class="top-bottom-avatar">
      <div class="avatar-img">
      <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/krokrob"/>
      </div>
      <div class="text-avatar">
      <p>khfbvjhbkjsbdhksj
        fbskjzf bdvkjsv bfkjs lhfabadew leDVSl geafdg ileal iegbi abvld Srebvls
        vbls bvluy gfbsvhb dly rblvs HDJ Vbl hjsbv</p>
      <h4> - Jules S.</h4>
      </div>
      <div class="ilustration">
        <img src="https://cdn.dribbble.com/users/992274/screenshots/10751849/media/4b5efa01cbeacd90639936d576e9ae0c.jpg"/>
      </div>
    </div>
  </div>
</div>








