<% if request.referer == "http://localhost:3000/users/sign_in" && !current_user.nil? %>
  <div class="sweetalert"></div>
<% end %>

<% content_for :navbar do %>
  <div class="empty"></div>
<% end %>

<div class="page-home">
  <div class="background">
<!--   <div class=flexbox-pictures>
      <div class="picture-illustration"></div>
  </div> -->
    <div class="foreground">
    <div class="title">
      <div id="typed-strings">
        <p>find your passion, start your career</p>
      </div>
      <h1>enchoosiast</h1>
      <h2 id="home-animation"></h2>
    </div>
    <div class="button-div">
      <%= link_to "More information", "/answers/new", class: "light-button" %>
      <%= link_to "Take the test", "/answers/new", class: "dark-button" %>
    </div>
  </div>
</div>

<div class="flexbox-icon-cards">
  <div class="card-icons">
    <div class="picture picture-icon"></div>
    <h4>1. take the personality test</h4>
  </div>
  <div class="card-icons">
    <div class="picture picture-icon-second"></div>
    <h4>2. get inspired by careers</h4>
    </div>
  <div class="card-icons">
    <div class="picture picture-icon-third"></div>
    <h4>3. find passion & guidance</h4>
  </div>
</div>

<div class= flexbox-testimonials>
  <div class="card-testimonial">
    <div>
      <h4><i class="far fa-lightbulb" style="font-size: 20px;"></i>Testimonial 1</h4>
      <p>enchoosiast helped me finding my dream career!</p>
    </div>
  </div>
  <div class="card-testimonial">
    <div>
      <h4><i class="far fa-star" style="font-size: 20px;"></i>Testimonial 2</h4>
      <p>the personality test is simply awesome.</p>
    </div>
  </div>
  <div class="card-testimonial">
    <div>
      <h4><i class="far fa-lightbulb" style="font-size: 20px;"></i>Testimonial 3</h4>
      <p>.....</p>
    </div>
  </div>
</div>
<div class="button-div-second">
  <%= link_to "Take the test", "/answers/new", class: "dark-button" %>
</div>







