<% if request.referer == "http://localhost:3000/users/sign_in" && !current_user.nil? %>
  <div class="sweetalert"></div>
<% end %>

  <% content_for :navbar do %>
     <div class="empty"></div>
  <% end %>

<div class=flexbox-pictures>
  <div class="picture-color"></div>
  <div class="picture-jump"></div>
  <div class="picture-fall"></div>
</div>

  <div class="title">
    <h1>enchoosiast</h1>
    <h2>find your passion, start your career</h2>
  </div>
  <div class="button-div">
    <%= link_to "Sign in", "#", class: "transparent-button" %>
    <%= link_to "Create an account", "#", class: "light-button" %>
    <%= link_to "Another button", "#", class: "dark-button" %>
  </div>

<div class="flexbox-pictures">
  <div class="picture-change"></div>
  <div class="picture-pair-jump"></div>
</div>



