<% content_for :navbar do %>
   <div class="empty"></div>
<% end %>

  <div class="banner">
    <div class="container">
      <div class="blurred-background">
        <h1>enchoosiast</h1>
        <h2>find your passion, start your career</h2>
      </div>
    </div>
  </div>
