.blurred-background{
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
  color: white;
  backdrop-filter: blur(3px);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  background-color: rgba(0,0,0,0.1);
  text: right;
}
