@mixin material-shadow($level) {
    @if $level == 1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    } @elseif $level == 2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    } @elseif $level == 3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    } @elseif $level == 4 {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    } @elseif $level == 5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}

.card-career-suggestion {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.card-career-suggestion .career {
  position: relative;


  h3 {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
    color: white;
    backdrop-filter: blur(2px);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    background-color: rgba(0,0,0,0.1);
    text: right;

  }
}

.card-suggestion {
  @include material-shadow(1);
  transition: all .3s;
}

.card-suggestion:hover {
  @include material-shadow(3);
  transition: all .3s;

}




.card-suggestion{
  width: 400px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  color: black;
    &:hover {
      text-decoration: none;
      color:black;

    }
    h3{
      padding: 15px 15px 0 15px;
      margin: 0px;
    }

    p {
       padding: 0px 15px;
    }

}


.row h2{
  margin-top: 40px;
  margin-bottom: 20px;
  color: #003066;
}



// <----------GRID--------->


.suggestion-card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
}

.card-pack{
  color: grey;
  @include material-shadow(1);
  transition: all .3s;
  cursor: pointer;
  border-radius: 4px;
  &:hover {
      text-decoration: none;
      color:grey;
      @include material-shadow(3);
      transition: all .3s;
    }
}

.card-back-img{
  width: 100%;
  height: 200px;
  border-radius: 4px;
}

.grid-container{
  overflow: scroll;
  height: 550px;
}

.card-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 8px;

  h3{
    padding-left: 8px;
    text-align: left;
  }


}


a.like-toggle[data-liked="true"] {
  .star.like {
    display: none;
  }
  .star.unlike {
    display: inline-block;
  }
}


a.like-toggle[data-liked="false"] {
  .star.like {
    display: inline-block;
  }
  .star.unlike {
    display: none;
  }
}

.star {
    margin: 0px;
    padding: 0px 5px 0px 0px !important;
    font-size: 20px !important;
  }


.star.far{
  padding: 0px 5px 0px 0px !important;
}


.star.fas{
  padding: 0px 5px 0px 0px !important;
}



























