.grid {
  background: #white;
  width: 100%;
  margin: 0 auto;
}
/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
/* ---- grid-item ---- */
.grid-item {
  width: 195px;
  height: 250px;
  border: 1px solid white;
  border-color: hsla(0, 0%, 0%, 0.1);
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}
.grid-item--width2 { width:  420px; }
.grid-item--width3 { width:  580px; }
.grid-item--width4 { width:  720px; }
.grid-item--height2 { height: 240px; }
.grid-item--height3 { height: 280px; }
.grid-item--height4 { height: 360px; }
