.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #003066;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
  display: block;
}

.sidenav .closebtn {
  position: absolute;
  top: 0px; right: 0px;
  font-size: 30px;
  padding: 5px 20px;
  cursor: pointer;
}

.menue-links{
  margin: 20px 30px 20px 50px;
}

.menue-link{
  margin: 10px 0px;
  box-shadow: 0px 1px 0px white;
  padding: 5px;
}

#sidenav-header{
  margin-right: 40px;
  font-size: 24px;
  color: white;
  margin: 30px 30px;

}

#main {
  transition: margin-left .5s;
  padding: 16px;
  z-index: 2;
}

#nav-open{
  color: #003066;
}

.menu-bar {
  font-size: 50px;
}

.hide-box{
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
}
